TradingClient.DataProvider/Service References/TradingService/Arrays1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CommonObjects" />
  <xs:complexType name="ArrayOfstring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfstring" nillable="true" type="tns:ArrayOfstring" />
  <xs:complexType name="ArrayOfKeyValueOfSelectionArrayOfBarQE_PnJckW">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfSelectionArrayOfBarQE_PnJckW">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommonObjects" name="Key" nillable="true" type="q1:Selection" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommonObjects" name="Value" nillable="true" type="q2:ArrayOfBar" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfSelectionArrayOfBarQE_PnJckW" nillable="true" type="tns:ArrayOfKeyValueOfSelectionArrayOfBarQE_PnJckW" />
  <xs:complexType name="ArrayOfKeyValueOfstringbase64Binary">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringbase64Binary">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="xs:base64Binary" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringbase64Binary" nillable="true" type="tns:ArrayOfKeyValueOfstringbase64Binary" />
  <xs:complexType name="ArrayOfKeyValueOfstringArrayOfScriptingParameterBaseH7NETMXZ">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringArrayOfScriptingParameterBaseH7NETMXZ">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CommonObjects" name="Value" nillable="true" type="q3:ArrayOfScriptingParameterBase" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringArrayOfScriptingParameterBaseH7NETMXZ" nillable="true" type="tns:ArrayOfKeyValueOfstringArrayOfScriptingParameterBaseH7NETMXZ" />
  <xs:complexType name="ArrayOfKeyValueOfdateTimedouble">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfdateTimedouble">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:dateTime" />
            <xs:element name="Value" type="xs:double" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfdateTimedouble" nillable="true" type="tns:ArrayOfKeyValueOfdateTimedouble" />
</xs:schema>